@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box model */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* CSS variables */
:root {
    /* main background color */
    --main-bg-color: #f9f8fa;

    /* main container margin */
    --margin-top-bottom: 30px;

    /* best caption letter spacing */
    --letter-spacing: 0.4rem;

    /* main color blue theme color */
    --blue-color: #2f92fb;
    
    /* global font style*/
    --main-font: 'Poppins';
    --secondary-font: 'Zilla Slab';
    --safe-font: serif;

    /* side image max-height */
    --max-height: 710px;

    /* font-awesome icon color for the reviews*/
    --green-star: #00b16e;
    --orange-star: #ff8a01;

    /* custom breakpoints */
    --min-nav-breakpoint: 1178px;
    --max-nav-breakpoint: 1200px;
}

.main-container {
    padding: var(--margin-top-bottom) 0;
    font-family: var(--main-font), var(--secondary-font), var(--safe-font);
}